body {
    background: linear-gradient(to bottom right, purple, orange);
    margin: 0;
    padding: 0;
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center; 
  }