<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/d1f44f5a74.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="style.css">
  <link rel="shortcut icon" href="log/CO.ico">
  
  <title>Consultor-ES</title>
</head>
<body>
    <header>
        <h2 class="logo"></h2>

        <nav class="navegacion">
            <a href="#">¿Que es un consultor?</a>
            <a href="#">¿Por que un consultor?</a>
            <a href="#">¿Tienes un proyecto?</a>
            <a href="#">¿Quienes somos?</a>
            <a href="#">Preguntanos</a>
            <a href="#">Misión y Visión</a>

            <button class="btn">Iniciar Sesion</button>
        </nav>
    </header>

    <div class="fondo">
        <span class="icono-cerrar"><i class="fa-solid fa-xmark"></i></span>

        <div class="contenedor-form login">
            <h2>Iniciar Sesion</h2>
            <form action="#">
                <div class="contenedor-input">
                    <span class="icono"><i class="fa-solid fa-envelope"></i></span>
                    <input type="email"required>
                    <label for="#">Email</label>
                </div>


                <div class="contenedor-input">
                    <span class="icono"><i class="fa-solid fa-lock"></i></span>
                    <input type="password"required>
                    <label for="#">Contraseña</label>
                </div>

                <div class="recordar">
                    <label for="#"><input type="checkbox">Recordar Sesion</label>
                    <a href="#">¿Olvide la Contraseña?</a>
                </div>

                <button type="submit" class="btn">Iniciar Sesion</button>

                <div class="registrar">
                    <p>¿No tienes cuenta? <a href="#"class="registrar-link">Registrarse</a></p>
                </div>
            </form>
        </div>

        <div class="contenedor-form registrar">
            <h2>Registrarse</h2>
            <form action="#">

                <div class="contenedor-input">
                    <span class="icono"><i class="fa-solid fa-user"></i></span>
                    <input type="text"required>
                    <label for="#">Nombre de Usuario</label>
                </div>


                <div class="contenedor-input">
                    <span class="icono"><i class="fa-solid fa-envelope"></i></span>
                    <input type="email"required>
                    <label for="#">Email</label>
                </div>


                <div class="contenedor-input">
                    <span class="icono"><i class="fa-solid fa-lock"></i></span>
                    <input type="password"required>
                    <label for="#">Contraseña</label>
                </div>

                <div class="recordar">
                    <label for="#"><input type="checkbox">Acepto los terminos y condiciones</label>
                </div>

                <button type="submit" class="btn">Registrarme</button>

                <div class="registrar">
                    <p>¿Tienes una cuenta? <a href="#" class="login-link">Iniciar Sesio</a></p>
                </div>

            </form>
        </div>
    </div>
    <script src="app.js"></script>
</body>
</html>

